<p>view-task works!</p>
<p> Today's item: {{item}} </p>



<div class="taskView"  >
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let tasks of taskList; let i = index" >
           
            <div class="custom-control custom-checkbox" [ngClass]="{'taskDone': tasks.isChecked }">
               <div class="d-flex justify-content-between align-items-center">
                <div>{{tasks.value}}</div>
                <div class="d-flex">
                    <div class="form-group custCheck">
                        <input type="checkbox" id="{{ i }}"  (change)="checkCheckBoxvalue($event,i)">
                        <label for="{{ i }}"></label>
                      </div>
                    <button [disabled]="tasks.isChecked" class="float-right remove" (click)="remove(i)"><img src="assets/image/delete.png"></button>
                </div>
            </div>
            </div>
        </li>
    </ul>
</div>